@import './styles/colors.css';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.linkedin {
  background-color: var(--brand-linkedin);
}

.github {
  background-color: var(--brand-github);
}