@import url("../../styles/colors.css");

.icon {
  width: 30px;
  height: 30px;

  transition: transform 300ms ease;
  flex-shrink: 0;
}

.label {
  max-width: 0;

  color: var(--text-default);

  opacity: 0;

  transition:
    opacity 200ms ease,
    transform 300ms ease,
    max-width 300ms ease;
  transform: translateX(8px);
  white-space: nowrap;
}

.link {
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;

  font-weight: 600;

  text-decoration: none;

  border-radius: 999px;

  overflow: hidden;
  transition:
    width 300ms ease,
    background-color 200ms ease;
  cursor: pointer;

  &:hover {
    width: 140px;

    .label {
      max-width: 100px;

      opacity: 1;

      transform: translateX(0);
    }

    .icon {
      transform: translateX(-4px);
    }
  }

  &:focus:not(:hover) {
    width: 140px;

    .label {
      max-width: 100px;

      opacity: 1;

      transform: translateX(0);
    }

    .icon {
      transform: translateX(-4px);
    }
  }
}

.linkedin {
  background-color: var(--brand-linkedin);
}

.github {
  background-color: var(--brand-github);
}
